.dashboard-cards {
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  border: 1px solid #dbdbdb;
  width: 30%;
  text-align: center;
}

.category {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0 rgba(31, 36, 38, 0.1);
}

.category-header,
.category-item {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item {
  border-bottom: 1px solid #ddd;
}

.category-header__end {
  width: 35%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.category-item__end {
  width: 12%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.category-header__name {
  display: flex;
  align-items: center;
}

.category-header__icon {
  align-self: center;
}

.category-header__end--item {
  flex: 1;
}
.category-item-delete-icon {
  padding: 0 10px;
}

.category-item-delete-icon:hover {
  cursor: pointer;
}
